<section id="ctf" class="scrollify-className">
    <div class="container">
        <div class="title">
            CTF NEDİR? <br>
            SÜREÇ NASIL İŞLEYECEK?
        </div>

        <div class="content">
            <div class="ctftext">
                Ctf, Capture the Flag yani Türkçesiyle “bayrağı yakala” anlamına gelen yarışma türüdür. Bu tür, siber
                güvenlik
                alanını öğrenmeyi teşvik etmek için oldukça yaygındır. Genellikle bir dosya veya web sitesi içine
                CTF{b4yrak}
                gibi metinler şeklinde bayraklar gizlenir ve elde etme zorluğuna göre puanlanır. Belirli bir süre
                içerisinde
                en
                fazla puanı toplayan takım yarışmayı kazanır.
            </div>
            <div class="ctfnotice">
                <div class="ctfsquare">
                    <div class="ctfhorizontal"></div>
                    <div class="ctfcircle">1</div>
                    <div class="ctftextarea">Lorem ipsum <p>Lorem ipsum dolor sit.</p>
                    </div>
                </div>
                <div class="ctfsquare">
                    <div class="ctfhorizontal"></div>
                    <div class="ctfcircle">2</div>
                    <div class="ctftextarea">Lorem ipsum <p>Lorem ipsum dolor sit.</p>
                    </div>
                </div>
                <div class="ctfsquare">
                    <div class="ctfhorizontal"></div>
                    <div class="ctfcircle">3</div>
                    <div class="ctftextarea">Lorem ipsum <p>Lorem ipsum dolor sit.</p>
                    </div>
                </div>
                <div class="ctfsquare">
                    <div class="ctfhorizontal"></div>
                    <div class="ctfcircle">4</div>
                    <div class="ctftextarea">Lorem ipsum <p>Lorem ipsum dolor sit.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>