<section id="history" class="scrollify-className">
    <div class="container">


        <div class="title">
            Fenrir Nedir?
        </div>
        <div class="content">
            <div class="history">
                <div class="history-1 active">
                    Fenrir İskandinav mitolojisine göre Devasa boyutlarda, güçlü bir kurttur. Bir kehanete göre kıyamet
                    olan
                    Ragnarök ta Odin’i öldüreceği öngörülmüştür. Bunu öğrenmiş olan Asgard tanrıları Fenrir’in yanına
                    giderek onu Leyding adı verilen bir zincir ile gücünü test etmek için olduğunu söyleyerek kandırır.
                    Fenrir zincirin gücünün ötesinde bir sağlamlığa sahip olmadığını tahmin ederek bu mücadeleyi kabul
                    etmiştir ve sonrasında zinciri tek vuruşta parçalamıştır. Aradan bir süre geçtikten sonra tanrılar
                    bu
                    sefer 2 katı daha güçlü olan Dromi adındaki zincir ile Fenrir’i “test etmeye “ gelmişlerdir. Aradan
                    geçen zamanda daha da güçlenmiş olan Fenrir önceki sefere kıyasla daha fazla çaba göstererek bu
                    zinciri
                    de paramparça etmiştir. Artık Fenrir’in potansiyelinden korkmaya başlayan Asgard tanrıları, Fenrir’i
                    durdurabilecek bir zincirin olduğundan şüphe duymaya başladılar. Bir süre düşündükten sonra
                    zanaatkarlıklarıyla ünlü cücelerden yardım istediler. Cüceler Gleipnir adında ip kadar ince bir
                    pranga
                    ürettiler.
                </div>
                <div class="history-2">
                    Tanrılar, Gleipnir ile Fenrir’e gücünü test etmesini söylediklerinde Fenrir “Bu kadar ince bir
                    prangayı
                    parçalamak bana şöhret getirmeyecek. Fakat o pranga bir büyü veya hile barındırıyorsa benim
                    ayaklarıma
                    değmeyecek.” Şeklinde cevap verdi. Tanrılar eğer bu prangadan kurtulamıyorsa onun onlar için bir
                    tehdit
                    sayılamayacağını söyledi ve Fenrir’i korkaklıkla suçlayarak kışkırttıklarında Fenrir, ”Eğer bu
                    pranga
                    ile beni bağlarsanız ve kendi başıma bu prangadan kurtulamayacak hale gelirsem sizden yardım alana
                    kadar
                    uzun bir zaman beklemek zorunda kalacağım. Bu prangaya vurulmaya razıyım fakat benim cesaretimi
                    sorgulayacaksanız, aranızdan biri bunun iyi niyetli bir test olduğunu sergilemek için elini ağzıma
                    yerleştirsin.”dedi. Bu teklif karşısında Asgard’ın tanrıları bir çıkmaza girdiler, Tyr sağ elini
                    kurdun
                    ağzına yerleştirene dek. Tanrılar Fenrir’i bağladı ve test başladı. Fenrir Gleipnirden kurtulmaya
                    çalıştıkça Gleipnir daha da sıkı bir hale geldi. Fenrir’in prangadan kurtulamayacağını anlamaları
                    üzerine elini kaybetmiş olan Tyr hariç bütün tanrılar gülmeye başladı. Devamında ise Fenrir
                    hapsedildi.
                    Ragnarök gelene kadar burada hapis kalacaktı.
                </div>

                <div class="histories-btn">
                    <div class="history-btn history-btn-1 " data-tab="history-1">

                        <svg xmlns="http://www.w3.org/2000/svg" width="137.333" height="240.218"
                            viewBox="0 0 137.333 240.218">
                            <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back"
                                d="M52.65,126.271l90.892-90.82a17.167,17.167,0,0,0-24.314-24.243L16.251,114.114a17.133,17.133,0,0,0-.5,23.671L119.157,241.406a17.167,17.167,0,0,0,24.314-24.243Z"
                                transform="translate(-11.251 -6.194)" />
                        </svg>
                        Geri
                    </div>
                    <div class="history-btn history-btn-2 active" data-tab="history-2"> İleri
                        <svg xmlns="http://www.w3.org/2000/svg" width="137.333" height="240.191"
                            viewBox="0 0 137.333 240.191">
                            <path id="Icon_ionic-ios-arrow-forward" data-name="Icon ionic-ios-arrow-forward"
                                d="M107.18,126.247,16.288,35.427a17.092,17.092,0,0,1,0-24.243,17.309,17.309,0,0,1,24.314,0L143.58,114.09a17.133,17.133,0,0,1,.5,23.671L40.674,241.382A17.167,17.167,0,1,1,16.36,217.139Z"
                                transform="translate(-11.246 -6.196)" />
                        </svg>

                    </div>
                </div>
            </div>
            <div class="history-img-area">
                <img src="static/img/tarih 1-1.png" alt="" class="history-1 history-img-1 active">
                <img src="static/img/tarih 2-2.png" alt="" class="history-2 history-img-2">
            </div>

        </div>
    </div>
</section>