<div class="sidebar">
    <div class="logo">
        <img src="img/logo.png">
    </div>
    <nav>
        <div id="nav-active">{{class}}</div>
        <a href="/" class="sidabar-link homepage active">
            <svg xmlns="http://www.w3.org/2000/svg" width="30.849" height="27.987" viewBox="0 0 30.849 27.987">
                <path id="Icon_metro-home" data-name="Icon metro-home"
                    d="M33.419,19.715,17.995,7.743,2.571,19.716V14.834L17.995,2.861,33.419,14.834Zm-3.856-.435V30.849H21.851V23.136H14.139v7.712H6.427V19.28L17.995,10.6Z"
                    transform="translate(-2.571 -2.861)" fill="#111" />
            </svg>
        </a>
        <a href="/cyberbiltek" class="sidabar-link cyberbiltek">
            <img src="img/biltekcyber logobeyaz.png" class="img-cyber-link">
            <img src="img/biltekcyber-logoblack.png" class="img-cyber-link-active">
        </a>
        <a href="/history" class="sidabar-link history">
            <svg xmlns="http://www.w3.org/2000/svg" width="42.209" height="35.939" viewBox="0 0 42.209 35.939">
                <path id="greek-column"
                    d="M5.3,27.88A5.693,5.693,0,0,0,.022,33.938,5.033,5.033,0,0,0,5.44,38.55a4.373,4.373,0,0,0,3.948-4.782,3.711,3.711,0,0,0-4.153-3.277A3.047,3.047,0,0,0,2.64,34.029a2.566,2.566,0,0,0,1.014,1.553,2.2,2.2,0,0,0,1.94.331,1.891,1.891,0,0,0,1.076-.863,1.58,1.58,0,0,0,0-1.6,1.1,1.1,0,0,0-.9-.57,1,1,0,0,0-.751.143,1.083,1.083,0,0,0-.44.847.781.781,0,0,0,.225.558.724.724,0,0,1-.233-.111,1.087,1.087,0,0,1-.4-.61,1.506,1.506,0,0,1,1.312-1.67,2.166,2.166,0,0,1,2.358,1.931A2.825,2.825,0,0,1,5.275,37a3.484,3.484,0,0,1-3.7-3.2A4.143,4.143,0,0,1,5.42,29.437l.059,0H36.73l.059,0A4.143,4.143,0,0,1,40.63,33.8a3.484,3.484,0,0,1-3.7,3.2,2.825,2.825,0,0,1-2.563-3.031,2.165,2.165,0,0,1,2.358-1.931A1.506,1.506,0,0,1,38.04,33.7a1.087,1.087,0,0,1-.4.61.726.726,0,0,1-.233.111.781.781,0,0,0,.224-.558,1.083,1.083,0,0,0-.439-.847,1,1,0,0,0-.751-.143,1.105,1.105,0,0,0-.9.57,1.58,1.58,0,0,0,0,1.6,1.889,1.889,0,0,0,1.076.863,2.2,2.2,0,0,0,1.94-.331,2.566,2.566,0,0,0,1.014-1.553,3.047,3.047,0,0,0-2.595-3.538,3.711,3.711,0,0,0-4.153,3.277,4.373,4.373,0,0,0,3.948,4.782,5.033,5.033,0,0,0,5.418-4.613,5.693,5.693,0,0,0-5.274-6.058,1.342,1.342,0,0,0-.183-.007H5.479a1.417,1.417,0,0,0-.183.007ZM2.353,20.063a.781.781,0,0,0-.781.781v1.563a.781.781,0,0,0,.229.552l3.125,3.125a.781.781,0,0,0,.552.229H36.73a.781.781,0,0,0,.552-.229l3.125-3.125a.781.781,0,0,0,.229-.552V20.844a.781.781,0,0,0-.781-.781Zm.781,1.563H39.074v.458l-2.668,2.668H5.8L3.135,22.083Zm8.594,10.938a.781.781,0,0,0-.781.781V55.221a.781.781,0,0,0,1.215.65l4.444-2.963a.782.782,0,0,0,.348-.637L17.2,38.046v-.013c0-.513,1.572-.527,1.563-.014V50.533a.781.781,0,0,0,1.215.65l4.688-3.125a.782.782,0,0,0,.348-.65V38.032c0-.522,1.563-.522,1.563,0v7.813a.781.781,0,0,0,1.131.7l3.125-1.563a.782.782,0,0,0,.432-.7V33.345a.781.781,0,0,0-.781-.781H11.729Zm.781,1.563H29.7V43.8l-1.563.781V38.032c0-2.6-4.688-2.6-4.688,0V46.99l-3.125,2.084V38.046c.046-2.613-4.687-2.627-4.687-.014v-.013L15.4,51.835,12.51,53.761V34.126Z"
                    transform="translate(0 -20.063)" fill="#e8e8e8" />
            </svg>

        </a>
        <a href="/ctf" class="sidabar-link ctf" >
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34.069" viewBox="0 0 34 34.069">
                <g id="Page-1" transform="translate(0 0.05)">
                    <g id="_037---Waypoint-Flag" data-name="037---Waypoint-Flag" transform="translate(0 -0.05)">
                        <path id="Shape"
                            d="M8.611,39.056l.626-.175a1.133,1.133,0,0,0,.786-1.4L2.862,11.855a1.416,1.416,0,0,0-1.745-.983l-.081.023A1.416,1.416,0,0,0,.053,12.64L7.215,38.27A1.133,1.133,0,0,0,8.611,39.056Z"
                            transform="translate(0 -5.029)" fill="#ebebeb" />
                        <path id="Shape-2" data-name="Shape"
                            d="M36.507,17.065a27.136,27.136,0,0,1-6.242-4.294.558.558,0,0,1-.158-.569A80.286,80.286,0,0,0,32.166,1.536c.07-.6-.252-.774-.593-.364C24.9,9.157,13.346-.288,6.47,6.969a2.341,2.341,0,0,1,.194.487L11.31,24.093c6.887-7.169,18.4,2.218,25.062-5.749C36.712,17.933,36.777,17.183,36.507,17.065Z"
                            transform="translate(-2.675 -0.95)" fill="#ebebeb" />
                    </g>
                </g>
            </svg>

        </a>
        <a href="/calender" class="sidabar-link calender">
            <svg xmlns="http://www.w3.org/2000/svg" width="32.471" height="33.235" viewBox="0 0 32.471 33.235">
                <g id="calendar" transform="translate(0)">
                    <path id="Path_1" data-name="Path 1"
                        d="M195.066,282.9a.982.982,0,0,0,1.388,0l3.5-3.5a.981.981,0,1,0-1.388-1.388l-2.809,2.809-1.281-1.281a.981.981,0,0,0-1.388,1.388Zm0,0"
                        transform="translate(-180.288 -259.698)" fill="#e9e9e9" />
                    <path id="Path_2" data-name="Path 2"
                        d="M137.9,215.4a7.79,7.79,0,1,0-7.79-7.79A7.8,7.8,0,0,0,137.9,215.4Zm0-13.618a5.828,5.828,0,1,1-5.828,5.828,5.834,5.834,0,0,1,5.828-5.828Zm0,0"
                        transform="translate(-121.66 -186.846)" fill="#e9e9e9" />
                    <path id="Path_3" data-name="Path 3"
                        d="M29.3,2.09h-1.79V.981a.981.981,0,1,0-1.963,0V2.09H23.617V.981a.981.981,0,0,0-1.963,0V2.09H10.818V.981a.981.981,0,0,0-1.963,0V2.09H6.926V.981a.981.981,0,0,0-1.963,0V2.09H3.173A3.177,3.177,0,0,0,0,5.263v24.8a3.177,3.177,0,0,0,3.174,3.174H29.3a3.177,3.177,0,0,0,3.174-3.174V5.263A3.177,3.177,0,0,0,29.3,2.09Zm1.211,27.972A1.212,1.212,0,0,1,29.3,31.272H3.173a1.213,1.213,0,0,1-1.211-1.211V10.25H30.508ZM1.962,5.263A1.212,1.212,0,0,1,3.173,4.052h1.79V5.161a.981.981,0,0,0,1.963,0V4.052H8.855V5.161a.981.981,0,0,0,1.963,0V4.052H21.654V5.161a.981.981,0,0,0,1.963,0V4.052h1.928V5.161a.981.981,0,0,0,1.963,0V4.052H29.3a1.212,1.212,0,0,1,1.211,1.211V8.287H1.962Zm0,0"
                        transform="translate(0)" fill="#e9e9e9" />
                </g>
            </svg>

        </a>
        <a href="/sponsor" class="sidabar-link sponsor">
            <svg xmlns="http://www.w3.org/2000/svg" width="39.644" height="23.125" viewBox="0 0 39.644 23.125">
                <g id="hand-shake" transform="translate(0 -106.666)">
                    <g id="Group_12" data-name="Group 12" transform="translate(0 106.666)">
                        <g id="Group_11" data-name="Group 11">
                            <path id="Path_4" data-name="Path 4"
                                d="M9.58,108.483c-1.321-1.321-6.938-1.652-8.755-1.817a.607.607,0,0,0-.5.165,1.253,1.253,0,0,0-.33.661v14.866a.78.78,0,0,0,.826.826H5.781a.908.908,0,0,0,.826-.5c0-.5,2.973-9.25,3.3-13.545A.66.66,0,0,0,9.58,108.483Z"
                                transform="translate(0 -106.666)" fill="#f5f5f5" />
                        </g>
                    </g>
                    <g id="Group_14" data-name="Group 14" transform="translate(14.019 110.135)">
                        <g id="Group_13" data-name="Group 13">
                            <path id="Path_5" data-name="Path 5"
                                d="M194.3,153.779c-1.652-.5-3.138-1.156-4.46-1.652-2.973-1.321-4.295-.661-6.938,1.982-1.156,1.156-1.982,2.808-1.817,3.469,0,.165,0,.165.33.33.826.33,1.982.5,3.138-1.321a.858.858,0,0,1,.661-.33,3.061,3.061,0,0,0,1.156-.33,8.054,8.054,0,0,1,1.156-.5h.33c.165,0,.5.165.661.165.826.826,2.313,1.982,3.8,3.3a37.834,37.834,0,0,1,5.781,5.286h.165C197.1,160.882,195.123,155.266,194.3,153.779Z"
                                transform="translate(-181.061 -151.467)" fill="#f5f5f5" />
                        </g>
                    </g>
                    <g id="Group_16" data-name="Group 16" transform="translate(28.081 108.318)">
                        <g id="Group_15" data-name="Group 15">
                            <path id="Path_6" data-name="Path 6"
                                d="M373.4,128a28.967,28.967,0,0,0-10.241,1.652l-.5.5a.993.993,0,0,0,.165.661,93.037,93.037,0,0,1,4.79,13.049,1.1,1.1,0,0,0,.826.661H373.4a.78.78,0,0,0,.826-.826V128.826A.78.78,0,0,0,373.4,128Z"
                                transform="translate(-362.666 -128)" fill="#f5f5f5" />
                        </g>
                    </g>
                    <g id="Group_18" data-name="Group 18" transform="translate(8.589 111.622)">
                        <g id="Group_17" data-name="Group 17">
                            <path id="Path_7" data-name="Path 7"
                                d="M132.242,183.551c-.661-1.487-3.469-3.634-5.947-5.616-1.321-1.156-2.643-2.147-3.634-2.973-.165.165-.5.165-.5.33a3.113,3.113,0,0,1-1.321.33c-1.321,1.652-2.973,2.312-4.79,1.652a1.953,1.953,0,0,1-1.487-1.487c-.33-1.652,1.156-3.964,2.313-5.121h-3.3a84.219,84.219,0,0,1-2.643,9.911,18.673,18.673,0,0,0,1.817,1.817c3.138,2.643,6.772,5.286,7.433,5.781a4.7,4.7,0,0,0,1.982.661h.5l-2.643-2.643a.818.818,0,0,1,1.156-1.156l3.3,3.3c.33.33.661.165.991.165.5-.165.661-.5.826-.991l-3.8-3.8a.818.818,0,0,1,1.156-1.156l4.13,4.13a1.767,1.767,0,0,0,1.321,0c.165-.165.5-.33.661-.661L125.14,181.4a.818.818,0,0,1,1.156-1.156l4.79,4.79a1.092,1.092,0,0,0,.991-.165A1.121,1.121,0,0,0,132.242,183.551Z"
                                transform="translate(-110.934 -170.667)" fill="#f5f5f5" />
                        </g>
                    </g>
                </g>
            </svg>

        </a>
        <a href="/register" class="sidabar-link register-btn register">
            <svg xmlns="http://www.w3.org/2000/svg" width="51.174" height="51.174" viewBox="0 0 51.174 51.174">
                <path id="add"
                    d="M46.605,21.018H31.07a.914.914,0,0,1-.914-.914V4.569a4.569,4.569,0,1,0-9.138,0V20.1a.914.914,0,0,1-.914.914H4.569a4.569,4.569,0,1,0,0,9.138H20.1a.914.914,0,0,1,.914.914V46.605a4.569,4.569,0,0,0,9.138,0V31.07a.914.914,0,0,1,.914-.914H46.605a4.569,4.569,0,0,0,0-9.138Zm0,0" />
            </svg>
        </a>
    </nav>

    <a href="#" class="sidebar-toggle-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="96.139" height="auto" viewBox="0 0 96.139 84.121">
            <path id="Icon_awesome-bars" data-name="Icon awesome-bars"
                d="M3.434,19.67H92.705a3.433,3.433,0,0,0,3.434-3.434V7.652a3.433,3.433,0,0,0-3.434-3.434H3.434A3.433,3.433,0,0,0,0,7.652v8.584A3.433,3.433,0,0,0,3.434,19.67ZM3.434,54H92.705a3.433,3.433,0,0,0,3.434-3.434V41.988a3.433,3.433,0,0,0-3.434-3.434H3.434A3.433,3.433,0,0,0,0,41.988v8.584A3.433,3.433,0,0,0,3.434,54Zm0,34.335H92.705a3.433,3.433,0,0,0,3.434-3.434V76.323a3.433,3.433,0,0,0-3.434-3.434H3.434A3.433,3.433,0,0,0,0,76.323v8.584A3.433,3.433,0,0,0,3.434,88.34Z"
                transform="translate(0 -4.219)" />
        </svg>

    </a>
</div>