<section id="sponsor" class="scrollify-className">
    <div class="contianer">
        <div class="content">
            <div class="s-box bronze-box">
                <div class="s-box-img bronze-img">
                    <img src="static/img/bronze.png" alt="bronze">
                </div>
                <div class="s-box-content">

                </div>
            </div>
            <div class="s-box gold-box">
                <div class="s-box-img gold-img">
                    <img src="static/img/gold.png" alt="gold">
                </div>
                <div class="s-box-content">
                </div>
            </div>
            <div class="s-box silver-box">
                <div class="s-box-img silver-img">
                    <img src="static/img/silver.png" alt="silver">
                </div>
                <div class="s-box-content">

                </div>
            </div>
        </div>
    </div>
</section>