<div class="content">
    <table class="calender-table">
        <thead>
            <tr>
                <th>
                    Açıklama
                </th>
                <th>
                    Tarih
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>a</td>
                <td>aa</td>
            </tr>
            <tr>
                <td>aa</td>
                <td>aa</td>
            </tr>
            <tr>
                <td>aa</td>
                <td>aa</td>
            </tr>
            <tr>
                <td>aa</td>
                <td>aa</td>
            </tr>
            <tr>
                <td>aa</td>
                <td>aa</td>
            </tr>
            <tr>
                <td>aa</td>
                <td>aa</td>
            </tr>
            <tr>
                <td>aa</td>
                <td>aa</td>
            </tr>
            <tr>
                <td>aa</td>
                <td>aa</td>
            </tr>
            <tr>
                <td>aa</td>
                <td>aa</td>
            </tr>
            <tr>
                <td>aa</td>
                <td>aa</td>
            </tr>
        </tbody>
    </table>
</div>