

<div class="title center">
    CYBERBILTEK NEDİR?
</div>

<div class="content">
    <div class="cyb-text">
            BiltekCyber Ankara Yıldırım Beyazıt Üniversitesi Bilim ve Teknoloji kulübünün Siber Güvenlik takımıdır.
            Kurulduğu tarihten bu yana insanları siber güvenlik alanına ilgili bireylere bu yolculuklarında destek olmak
            için GrowHack eğitim serisi gibi birbirinden farklı eğitimler ve etkinlikler düzenlemektedir. BiltekCyber 20
            den fazla aktif üyesiyle yoluna devam etmektedir.
        </div>
</div>