<div class="content">
     <h1 class="register-form-title">Kayıt Ol</h1>
        <form action="" class="register-form">
            <input class="form-features" placeholder="İsim Soyisim" type="text" name="">
            <input class="form-features" placeholder="Kullanıcı Adı" type="text" name="">
            <input class="form-features" placeholder="E-Mail" type="email" name="">
            <input class="form-features" placeholder="Telefon" type="tel" name="">
            <select class="form-features" name="university" id="university" >
                <option value="" disabled="" selected="">Üniversiteniz</option>
            </select>
            <select class="form-features" name="department" id="department" >
                <option value="" disabled="" selected="">Bölümünüz</option>
            </select>
            <button type="submit" class="register-buton"> Kayıt Ol </button>
        </form>
</div>